body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 0px;
    font-size: 1.2em;
    background-color: #293348;
    background-image: url("https://svgshare.com/i/N4J.svg");
}

p{
    margin: 0px;
}

a, a:hover{
    color: #fff;
    text-decoration: none;
}


.home{
width: 20px;
}

nav{
    height: 10vh - 1.2em;
    padding: calc((10vh - 1.2em)/2);
}

main{
    margin-top: 30px;
    padding: 0em;
    display: inline-flex;
}

.card, .card-header{
    background-color: #fff0;
    border: 0px;
}

.btn{
    font-size: 1.6em;
    color: #fff;
    text-decoration: none;
}

.btn:hover, .btn:focus{
    text-decoration: none;
    color: #fff;
    box-shadow: none;
}

.pagination{
    position: absolute;
    left: calc(50vw - 25*7px);
    top: calc(100vh - 70px);
}

.page-link{
    background-color: #fff0;
    color: #fff;
    width: 50px;
    text-align: center;
}

footer{
    padding-right: 50px;
    height: 5vh;
}

#Author{
    position: absolute;
    left: calc(100vw - 100px);
    top: calc(100vh - 60px);
}
#schemat-min{
    height: 10vh;
    width: 10vw;
    background-color: #fff0;
    position: absolute;
    left: 0px;
    top: 90vh;
    cursor: pointer;
}

.schemat-min{
    height: 10vh;
    width: 10vw;
}

#schemat{
    z-index: 100;
    background-color: #293348;
    background-image: url("https://svgshare.com/i/N4J.svg");
    position: absolute;
    left: 0px;
    top: calc(100vh - 100px);
    transform: scale(0,0);
    transform-origin: bottom left;
}

.full{

animation: fullSchemat 1s ease-in-out forwards;
    width: 100vw !important;
    height: 100vh !important;
    top: 0px !important;
    
}

@keyframes fullSchemat{
    from{
        transform: scale(0,0);
    }
    to{
        transform: scale(1,1);

    }
}

.close-btn{
    cursor: pointer;
    width:20px;
    position: absolute;
    top: 30px;
    left: calc(100vw - 50px);
}